{% from "_macros.html.j2" import render_element, slide_bg %}
<div class="slide slide-content" data-slide-id="{{ slide.id }}"{{ slide_bg(slide) }}>
  {% for element in slide.elements %}
    {{ render_element(element) }}
  {% endfor %}
</div>
